<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/picnicss/6.3.2/picnic.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Klaxon</title>

{% block page_css %}
{% endblock %}
</head>
<body>


<div class="container">
  <div class="lead-content">
    {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
         {% for category, message in messages %}

           <div class="alert alert-{{category}} alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             {{message}}
           </div><!-- /.alert -->
         {% endfor %}
       {% endif %}
    {% endwith %}

    {% block lead_content %}
    {% endblock %}
  </div><!-- /.lead-content -->


    {% block main_content %}
    {% endblock %}

    <div id="feedback-area" class="main-column">
      <h2>Feedback</h2>      
      <p>
        We are always happy to receive any feedback both positive and negative.
        If you wish you can provide your name and/or email. Neither is required,
        if you do not provide an email we will have no way to respond to your
        comment (which you may not want anyway).
      </p>
      <form id="give-feedback" class="feedback-controls" method="POST"
            action="{{ url_for('give_feedback') }}">
        <div class="form-group">
          {{ feedback_form.hidden_tag() }}
          {{ feedback_form.feedback_name(placeholder="Name: Not required", class="form-control") }}
          {{ feedback_form.feedback_email(placeholder="Email: Not required, but I won't be able to reply.",  class="form-control") }}
          {{ feedback_form.feedback_text(placeholder="What do you wish to suggest/praise/complain about?", class="form-control") }}
          <button type="submit" class="form-control btn btn-default"
                  id="feedback_submit_button" name="feedback_submit_button">Provide Feedback</button>
        </div><!-- /.form-group -->
      </form>
    </div><!-- /#.feedback-area -->
</div><!-- /.container -->

{% block page_scripts %}
{% endblock page_scripts%}
</body>
</html>
