<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css" integrity="sha256-6ZFIKt0ohcBorQWIruhlYBoADBIFrJuXtEJsjFxb2Wk=" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Klaxon</title>

<style>
.lead-content{
  text-align: center;
}
</style>

{% block page_css %}
{% endblock page_css %}
</head>
<body>


<div class="container">
  <div class="lead-content">
    <h1 class="title">Klaxon</h1>

    <div id="messages-to-the-user"></div>
    {% block lead_content %}
    {% endblock lead_content %}
  </div><!-- /.lead-content -->


    {% block main_content %}
    {% endblock main_content %}


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Klaxon. Just a simple attempt to make my own life easier. If someone
        else finds this useful, I'd be amazed, but you're most welcome to try.
      </p>
      <p>
        <a id="give-feedback-link" class="show-modal is-success" target="#give-feedback-modal" disabled>Give Feedback</a>
      </p>
    </div>
  </div>
</footer>


<div id="give-feedback-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <form id="give-feedback-form">
      <header class="modal-card-head">
        <p class="modal-card-title">Give Feedback</p>
        <a class="delete close-modal"></a>
      </header>
      <section class="modal-card-body">
        <p>
          We are always happy to receive any feedback both positive and negative.
          If you wish you can provide your name and/or email. Neither is required,
          if you do not provide an email we will have no way to respond to your
          comment (which you may not want anyway).
        </p>
        <hr>
          {{ feedback_form.hidden_tag() }}
          <div class="columns">
            <label class="label column is-half">Name
              {{ feedback_form.feedback_name(placeholder="Name: Not required", class="input", type="text") }}
            </label>
            <label class="label column is-half">Email
              {{ feedback_form.feedback_email(placeholder="Email: Not required", class="input", type="email") }}
            </label>
          </div>

          <label class="label">Message
            {{ feedback_form.feedback_text(placeholder="What do you wish to suggest/praise/complain about?", class="textarea") }}
          </label>

      </section>
      <footer class="modal-card-foot button-row">
        <button class="button is-success" id="submit-give-feedback">Submit</button>
        <a class="button is-danger close-modal">Cancel</a>
      </footer>
    </form>
  </div>
</div>

</div><!-- /.container -->


<script>
/* global $ */
function message_user(message, category){
  var $notification = $('\
          <div class="notification ' + category + '">\
            <button class="delete"></button>\
            ' + message + '\
          </div>');


  $('#messages-to-the-user').append($notification);
  $notification.find('button.delete').click(function(){
    $notification.remove();
  });
}


function give_feedback(e){
    e.preventDefault();
    var $submit_button = $(this);
    $submit_button.addClass('is-loading');
    var $form = $submit_button.closest('form');
    $.ajax({type: "POST",
        url: "{{url_for('give_feedback')}}",
        data: $form.serialize(),
        success: function(data){
          $submit_button.removeClass('is-loading');
          $modal = $submit_button.closest('.modal')
          $modal.removeClass('is-active');
          $modal.hide();
          message_user('Thank you for your feedback.');
        },
        error: function(data){
          $submit_button.removeClass('is-loading');
          /* TODO: Be much more careful about this, checking if message is even
          in the data for example. */
          message_user(data['message']);
        }
      });
}

$(document).ready(function(){
    $('.show-modal').each(function(){
      var $button = $(this);
      $button.click(function(){
        var $this = $(this);
        var $target = $($this.attr('target'));
        $target.addClass('is-active');
        /* We shouldn't need this, but it appears to be required for the
           phantomJS tests. */
        $target.show();
      });
      $button.prop('disabled', false);
    });

    /* TODO: This is essentially copied in here as well as the methods which
    actually respond to the form being completed, but I think instead we should
    be able to add a 'close_modal' method to each modal element and call that
    instead. */
    $('.close-modal').click(function(){
      var $modal = $(this).closest('.modal');
      $modal.removeClass('is-active');
      /* Again, seems unfortunately required for phantomJS */
      $modal.hide();
    });

    $('#submit-give-feedback').click(give_feedback);

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {# Not sure if this quite works because what if the message (or category)
          has a double quote in it? I'm pretty sure jinja2 has some way to cope
          with that, but I'm not sure it's enabled by default. #}
          message_user("{{message}}", "{{category}}");
        {% endfor %}
      {% endif %}
    {% endwith %}

});
</script>
{% block page_scripts %}
{% endblock page_scripts%}
</body>
</html>
