{% extends "base.html" %}
{% set active_page = "home" %}
{% block lead_content %}

<h1>Welcome to Klaxon</h1>

<p class="lead">Organise and lead your online self.</p>
{% endblock %}

{% block main_content %}

{% if user %}
<h1>Your id is: {{ user.id }}</h1>
{% endif %}

<div id="link-tabs-container" class="tabs">
    <div class="row">
    </div>
</div>

<form class="update-link-form">
  <fieldset class="flex two">
    <label><input name="category" type="text" placeholder="Category">Category</label>
    <label><input name="name" type="text" placeholder="Name">Name</label>
    <label><input name="address" type="url" placeholder="http://www.pythonanywhere.com">Address</label>
  </fieldset>
  <button class="update-link-button">Add</button>
</form>


{% endblock %}

{% block page_scripts %}
<script>
/* global $ */

/* TODO: Everywhere we use 'tabid' we should probably be escaping stuff */
function add_category(tabid){
  var tab_source = `<div id="${tabid}-links">
            <h2>${tabid}</h2>
            <ul>
            </ul>
        </div>`;
  $('#link-tabs-container .row').append(tab_source);
  var tab_radio_source = `
    <input id='${tabid}-tab' type='radio' name='tabgroupB' />
    <label class="pseudo button toggle" for="${tabid}-tab">${tabid}</label>
  `;
  /* TODO: This should be before .row I think */
  $('#link-tabs-container .row').before(tab_radio_source);
  $('#link-tabs-container').removeClass('one');
  $('#link-tabs-container').removeClass('two');
  $('#link-tabs-container').removeClass('three');
  var number_tabs = $('#link-tabs-container input[type="radio"]').length;
  var number_class = "zero";
  /* TODO: I'm sure there is a nicer way in Javascript to write this */
  if (number_tabs == 1){
    number_class = "one";
  }
  if (number_tabs == 2){
    number_class = "two";
  }
  if (number_tabs == 3){
    number_class = "three";
  }
  if (number_tabs == 4){
    number_class = "four";
  }
  $('#link-tabs-container').addClass(number_class);

  return $(`#${tabid}-links`);
}


function add_link(tabid, name, href){
    /* TODO: What if the category does not exist? */
    var $tab = $(`#${tabid}-links`);
    if ($tab.length < 1){
      $tab = add_category(tabid);
    }
    $tab.find('ul').append(`<li><a class="${tabid}" href="${href}">${name}</a></li>`);
}

function update_link(e){
    e.preventDefault();
    var $form = $(this).closest('.update-link-form');
    $.ajax({type: "POST",
        url: "{{url_for('add_update_link')}}",
        data: $form.serialize(),
        success: function(data){
          var category = $form.find('input[name="category"]').val();
          var name = $form.find('input[name="name"]').val();
          var address = $form.find('input[name="address"]').val();
          add_link(category, name, address);
        },
        error: function(data){
          alert('Hmm, something failed.');
        }
      });
}


$(document).ready(function(){
    $('.update-link-button').click(update_link);
    add_link('stable', 'Gmail', 'https://mail.google.com/mail/u/0/#inbox');
    add_link('stable', 'Calendar', 'https://calendar.google.com/calendar/render?tab=mc#main_7');
    add_link('stable', 'Dragon Go', 'http://www.dragongoserver.net/status.php');
    add_link('stable', 'Tesuji-Charm', 'http://allanderek.pythonanywhere.com/status');
    add_link('stable', 'TweetDeck', 'https://tweetdeck.twitter.com/');
    add_link('stable', 'CommaFeed', 'https://www.commafeed.com/#/feeds/view/category/all');
    add_link('stable', 'HashNode', 'https://hashnode.com/');
    add_link('stable', 'HackerNews', 'https://news.ycombinator.com/newest');
    add_link('stable', 'BBC Russian', 'http://www.bbc.com/russian');
    add_link('stable', 'Tumblr', 'https://www.tumblr.com/blog/allanderek');
    add_link('stable', 'Facebook', 'https://www.facebook.com/');
    add_link('stable', 'CoinBase', 'https://www.coinbase.com/dashboard');
    add_link('stable', 'IG', 'https://www.ig.com/uk/login');
    add_link('stable', 'CodeInstitute', 'http://lms.codeinstitute.net/members/allanderek/dashboard/');
    add_link('stable', 'My Blog', 'http://allanderek.github.io/');

    add_link('queue', 'Hunted Apply', 'http://www.huntedapplications.com/apply.html');
    add_link('queue', 'Python jobs board', 'https://www.python.org/jobs/location/telecommute/');
    add_link('queue', 'Jobs4Bitcoins', 'https://www.reddit.com/r/Jobs4Bitcoins/');
    add_link('queue', 'Outsourcely', 'https://www.outsourcely.com/remoteworker');
    add_link('queue', 'RedditFreelance', 'https://www.reddit.com/r/freelanceuk/');
    add_link('queue', 'RemotePython', 'https://www.remotepython.com/jobs/?country=any');
    add_link('queue', 'Flask Token based authentication', 'https://realpython.com/blog/python/token-based-authentication-with-flask/');
    add_link('queue', 'Kodi HTG', 'http://www.howtogeek.com/290346/kodi-is-not-a-piracy-application/');

    add_link('dev-stable', 'C9', 'https://c9.io/allanderek');
    add_link('dev-stable', 'Remi-running-app', 'https://remi-allanderek.c9users.io:8081/');
    add_link('dev-stable', 'GitHub', 'https://github.com/');
    add_link('dev-stable', 'Proggit', 'https://www.reddit.com/me/m/programming/');
    add_link('dev-stable', 'Code Review Stack Exchange', 'http://codereview.stackexchange.com/questions');
    add_link('dev-stable', 'Tomatoes timer', 'http://www.tomato.es/#');

    add_link('dev-queue', 'git tips', 'https://adaptechsolutions.net/git-pro-tips/');
    add_link('dev-queue', 'XSS-Game', 'https://xss-game.appspot.com/level4');
    add_link('dev-queue', 'Bug Hunter University', 'https://sites.google.com/site/bughunteruniversity/behind-the-scenes/rewards-philosophy');
    add_link('dev-queue', 'Content Security Policy', 'https://developers.google.com/web/fundamentals/security/csp/');
    add_link('dev-queue', 'Py-Week', 'https://pyweek.org/23/');
    add_link('dev-queue', 'Google Reward Program (bounties)', 'https://www.google.com/about/appsecurity/reward-program/');
    add_link('dev-queue', 'Python Import system', 'https://docs.python.org/3/reference/import.html');
    add_link('dev-queue', 'Installing GitHub Enterprise', 'https://help.github.com/enterprise/2.8/admin/guides/installation/installing-github-enterprise-on-openstack-kvm/');
    add_link('dev-queue', 'Py-heat', 'https://github.com/csurfer/pyheat');

    {% for link in user.links.all() %}
      add_link('{{link.category}}', '{{link.name}}', '{{link.address}}')
    {% endfor %}

    $('#link-tabs-container input[type="radio"]').first().click();
});
</script>
{% endblock page_scripts%}