{% extends "base.html" %}
{% set active_page = "home" %}

{% block page_css %}
<style>
  .section-title, .category-title{
    text-align: center;
  }
</style>
{% endblock page_css %}

{% block lead_content %}
  {% if user %}
    <a href="{{url_for('logout')}}">Logout</a>.
  {% endif %}
{% endblock lead_content %}
{% block main_content %}


<h2 class="title section-title">Your Links</h2>
<div id="link-categories" class="columns">
</div>


<label for="add-link" class="button">Add Link</label>

<div class="modal">
  <input id="add-link" type="checkbox" />
  <label for="add-link" class="overlay"></label>
  <form class="update-link-form">
    <div>
      <header>
        <h3>Add Link</h3>
        <label for="add-link" class="close">&times;</label>
      </header>
      <section>
        <fieldset>
          <div class="flex two">
            <label>Category<input name="category" type="text" placeholder="Category"></label>
            <label>Name<input name="name" type="text" placeholder="Name"></label>
          </div>
          <div class="flex one">
            <label>Address<input name="address" type="url" placeholder="http://www.pythonanywhere.com"></label>
          </div>
        </fieldset>
      </section>
      <footer>
        <label for="add-link" class="button update-link-button">Add</label>
        <label for="add-link" class="button dangerous">Cancel</label>
      </footer>
    </div>
  </form>
</div>


{% endblock %}

{% block page_scripts %}
<script>
/* global $ */

/* TODO: Everywhere we use 'catid' we should probably be escaping stuff */
function find_or_add_category(catid){
    var $category = $(`#${catid}-links`);
    if ($category.length !== 0){
      return $category
    }

    var $new_category_column = $(`
      <div class="column" id="${catid}-links">
        <h2 class="subtitle category-title">${catid}</h2>
        <table class="table is-stripped is-bordered">
          <tbody class="link-grid"></tbody>
        </table>
      </div>
    `);
    $('#link-categories').append($new_category_column);

    return $new_category_column;
}

function add_link(catid, name, href, link_id){
    var $category_column = find_or_add_category(catid);
    var $link_grid = $category_column.find('.link-grid');
    var $new_link = $(`
      <tr> class="user-link" link="${link_id}">
        <td><a class="${catid}-link" href="${href}">${name}</a></td>
        <td><a class="delete delete-link"></a></td>
      </tr>`);
    $link_grid.append($new_link);
    $new_link.find('.delete-link').click(delete_link);
}

function update_link(e){
    /* Note we are not doing e.preventDefault because it is not a form button
    so the default is not to submit the form anyway. Doing 'e.preventDefault'
    means that the modal does not get hidden.
    TODO: I think this means that pressing the Return/Enter key won't submit
    the 'modal' dialog. Correct?
    */
    var $form = $(this).closest('.update-link-form');
    $.ajax({type: "POST",
        url: "{{url_for('add_update_link')}}",
        data: $form.serialize(),
        success: function(data){
          var category = $form.find('input[name="category"]').val();
          var name = $form.find('input[name="name"]').val();
          var address = $form.find('input[name="address"]').val();
          add_link(category, name, address, data['link_id']);
        },
        error: function(data){
          alert('Hmm, something failed.');
        }
      });
}


function delete_link(){
    var $user_link = $(this);
    var link_id = $user_link.attr('link');
    console.log(`Attempting to delete link: ${link_id}`);
    $.ajax({type: "POST",
        url: "{{url_for('delete_link')}}",
        data: { 'link_id': link_id },
        success: function(data){
          $user_link.remove();
        },
        error: function(data){
          alert('Hmm, something failed deleting the link.');
        }
      });
}

$(document).ready(function(){
    $('.update-link-button').click(update_link);

    {% for link in user.links.all() %}
      add_link('{{link.category}}', '{{link.name}}', '{{link.address}}', {{link.id}});
    {% endfor %}
});
</script>
{% endblock page_scripts%}